.app {
  width: 80%;
  margin: 100px auto 0 auto;
  font-family: "Saira Semi Condensed", sans-serif;

  .form {
    width: 100%;
    text-align: center;
    position: relative;
    input {
      width: 50%;
      padding: 12px 24px;
      border: none;
      outline: none;
      border-bottom: 1px dashed rgba(black, 0.3);
      transition: all ease 0.5s;
      font-weight: bold;
      font-family: "Saira Semi Condensed", sans-serif;
      box-sizing: border-box;
      &:focus {
        border-bottom: 1px solid rgba(black, 0.4);
      }
    }
    .clearButton {
      position: absolute;
      right: 25%;
      top: 50%;
      transform: translateY(-50%);
      transition: all ease 0.5s;
      border: none;
      outline: none;
      background: transparent;
    }
  }
  .closeButton {
    border: none;
    outline: none;
    background: transparent;
    color: #ff7979;
    font-weight: bolder;
    padding: 4px 4px 3px 4px;
    border: 2px solid transparent;
    border-radius: 100%;
    margin: 0 12px;
    transition: all linear 0.3s;
    opacity: 0;
    &:hover {
      border: 2px solid #ff7979;
      cursor: pointer;
    }
    i {
      font-weight: bold !important;
    }
  }
  .todoList,
  .completedList {
    li {
      &:hover {
        .closeButton {
          opacity: 1;
        }
      }
    }
  }
  .todoList {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      padding: 0 0 0 32px;
      position: relative;
      span {
        &:before {
          position: absolute;
          height: 18px;
          width: 18px;
          content: " ";
          display: block;
          background: #fff;
          border: 2px solid rgba(black, 0.3);
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          position: absolute;
          left: 3px;
          top: 50%;
          transform: translateY(-30%);
          width: 0;
          height: 20px;
          content: "\EA45";
          font-family: LineIcons !important;
          overflow: hidden;
          transition: all ease 0.5s;
          color: #1dd1a1;
          font-weight: bold;
        }
        &:hover {
          color: #1dd1a1;
          cursor: pointer;
          &:before {
            border: 2px solid #1dd1a1;
          }
          &:after {
            width: 20px;
          }
        }
      }
    }
  }
  .completedList {
    color: #1dd1a1;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      position: relative;
      padding: 0 0 0 32px;
      span {
        // &:before {
        //   position: absolute;
        //   height: 18px;
        //   width: 18px;
        //   content: " ";
        //   display: block;
        //   background: #fff;
        //   border: 2px solid #1dd1a1;
        //   left: 0;
        //   top: 50%;
        //   transform: translateY(-50%);
        // }
        &:after {
          position: absolute;
          left: 3px;
          top: 50%;
          transform: translateY(-30%);
          width: 20px;
          height: 20px;
          content: "\EA45";
          font-family: LineIcons !important;
          overflow: hidden;
          transition: all ease 0.5s;
          color: #1dd1a1;
          font-weight: bold;
        }
        &:hover {
          cursor: pointer;
          color: #10ac84;
        }
      }
    }
  }
  .cleanButton {
    padding: 12px 24px;
    margin: 24px 0 0 0;
    background: #fff;
    border: 1px solid rgba(black, 0.3);
    outline: none;
    border-radius: 3px;
    transition: all ease 0.5s;
    &:hover {
      color: #10ac84;
      border: 1px solid #10ac84;
      cursor: pointer;
    }
  }
}
//Misc
.row {
  display: flex;
  width: 50%;
  margin: 36px auto 0 auto;
  .col {
    flex: 1;
    &-2 {
      flex: 2;
    }
    &-3 {
      flex: 3;
    }
  }
}

.hide {
  display: none;
}
.hidden {
  opacity: 0;
}
